/*
Resta quitar pater y comprobar cómo queda el maqueteo más general.
Resta agregar una correcta justificación a los textos bajo las imagenes.
Resta dar forma redonda a los botones.
Resta corregir sección 'call to action'.
Resta agregar footer.
Corregir botón de header.
*/

* {
    background: #1f2937;
    margin: 5px;
    /* padding: 5px; */
    box-sizing: border-box;
}
.pater{
    display: flex;
    flex-flow: column;
}
    .hero{
        background: #1F2937;
        display: flex;
        flex-flow: column nowrap;
    }
        .header{
            background: #1F2937;
            display:flex;
            flex-flow: row nowrap;
        }
            .headerlogo{
                background: #1F2937;
                display: flex;
                flex: 1 1 50%;
                font: 24px;
                font-weight: bolder;
                color: #F9FAF8;
            }
            .links{
                background: #1F2937;
                display: flex;
                flex: 1 1 50%;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-content: center;
                font-weight: 18px;

            }
                .headerlinkone{
                    display: flex;
                    flex: 1 1 33%;
                    text-decoration: none;
                    color: #E5E7EB;
                }
                .headerlinktwo{
                    display: flex;
                    flex: 1 1 33%;
                    text-decoration: none;
                    color: #E5E7EB;
                }
                .headerlinkthree{
                    display: flex;
                    flex: 1 1 33%;
                    text-decoration: none;
                    color: #E5E7EB;
                }
        .main{
            background: #1F2937;
            display: flex;
            flex-flow: row nowrap;
        }
            .text{
                background: #1F2937;
                display: flex;
                flex-flow: column;
                flex: 1 1 50%;
                justify-content: center;
                align-content: center;
            }
                .maintitle{
                    font-size: 48px;
                    font-weight: bolder;
                    color: #F9FAF8;
                }
                .maintext{
                    display: flex;
                    font-size: 18px;
                    color: #E5E7EB;
                }
                .mainbutton{
                    display: flex;
                    justify-content:start;
                    font-weight: bold;
                    color: #F9FAF8;
                    background: #3882F6;
                    border: 0px solid #0099CC;
                    width: 55px;
                    /*Revisar el call to action [falta agregar]*/
                    /*Otros comandos de botón {
                    font-size: 20px;
                    line-height: 50px;
                    text-align: center;
                    width: 100px;
                    height: 50px;
                    }*/
                }
            .mainimg{
                background: #1F2937;
                display: flex;
                flex: 1 1 50%;
                justify-content: center;
            }
    .information{
        background: #F9FAF8;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
        .informationheader{
            background: #F9FAF8;
            display: flex;
            flex: 1 1 100%;
            justify-content: center;
            align-content: center;
            align-items: center;
            font-size: 36px;
            font-weight: bold;

        }
            .headertext{
                background: #F9FAF8;
                justify-content: space-between;
                align-items: center;
                margin-top: 25px;
            }
        .informationbody{
            margin-left: 50px;
            margin-right: 50px;
            padding: 50px;
            background: #F9FAF8;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 15px;

        }
            .box{
                /*background-color: Azure;*/
                background: #F9FAF8;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
            }
                .ilustration{
                    background: #F9FAF8;
                    border: 1px solid MidnightBlue;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 400px;
                        /*
                        width: 400px;
                        background-color: Azure;
                        border: 1px solid MidnightBlue;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        */
                }
                img.ilustration{
                    display: flex;
                    justify-items: center;
                    width: 200px;
                    height: 300px;
                        }

                .ilustrationtext{
                    background: #F9FAF8;
                }
    .quote{
        background-color: #E5E7EB;
        display: flex;
        flex-flow: column;
        flex: 1 1 auto;
    }
        .quotecontainer{
            background-color: #E5E7EB;
            margin: 100px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-content: center;

        }
            .quotetext{
                background-color: #E5E7EB;
                color:#1f2937;
                display: flex;
                align-self: center;
                justify-self: center;
                font-style: italic;
                font-size: 36px;
            }
            .quoteby{
                background-color: #E5E7EB;
                color:#1f2937;
                display: flex;
                flex-direction: row-reverse;
                font-size: 18px;
            }
    .calltoaction{
        background-color: #E5E7EB;
    }
        .callcontainer{
            background-color: #3882F6;
            display: flex;
            flex-flow:row nowrap;
            justify-content: center;
            margin: 100px;
            padding: 25px;  
            margin-left: 200px;
            margin-right: 200px;
            border-radius:15px 15px 15px 15px;
        }
            .callinfo{
                background-color: #3882F6;
                display: flex;
                flex: 2 1 auto;
                flex-flow: column;
                align-self: stretch;
                justify-content: space-between;
            }
                .calltitle{
                    display: flex;
                    background-color: #3882F6;
                    color: #E5E7EB;
                    font-size: 18px;
                    font-weight: bold;
                }
                .callsubtitle{
                    display: flex;
                    background-color: #3882F6;
                    color: #E5E7EB;
                }
            .callbuttoncontainer{
                background-color: #3882F6;
                display: flex;
                flex: 1 1 auto;
                border: #E5E7EB;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                align-self: stretch;
            }
                .callbutton{
                    background-color: #3882F6;
                    color: white;
                    /* font-weight: bold; */
                    border-radius:5px 5px 5px 5px;
                    /* border: 4px white;  */
                    border-width: 3px;
                    padding: 15px;
                    display: flex;
                    flex: 0.5 0.5 50%;
                    align-self: center;
                    justify-content: center;
                }
    .footer{

    }